@import 'tailwindcss';

@theme {
  --font-body:
    "Poppins", "Poppins Fallback", system-ui, 'Apple Color Emoji', 'Segoe UI Emoji',
    sans-serif;

  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-nivarana-charcoal: #272624;
  --color-nivarana-green: #778d4c;
  --color-nivarana-blue: #1a5461;
  --color-nivarana-white: #d9bb9b;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer components {
  .post-content a {
    @apply outline-0 underline transition-all duration-200 ease-in-out text-nivarana-green;
  }

  .post-content a:hover {
    @apply no-underline text-nivarana-charcoal;
  }

  .post-content a:focus {
    @apply outline-0;
  }

  .post-content ul {
    @apply list-disc md:list-outside ml-4 pl-2 md:p-6;
  }

  .post-content ol {
    @apply list-decimal md:list-outside ml-4 pl-2 md:p-6;
  }

  dfn {
    @apply not-italic border-b border-dotted cursor-pointer;
    border-color: #007bff;
  }

  dfn:hover {
    @apply text-[#0056b3];
  }

  .zoomed-image-container {
    @apply fixed top-0 left-0 w-full h-full flex justify-center items-center z-[1000] cursor-pointer;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .zoomed-image {
    @apply max-w-[90vw] max-h-[90vh];
  }
}

@layer base {

  p {
    margin-bottom: 1rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }

}