@import 'tailwindcss';

@theme {
  --font-*: initial;
  --font-poppins:
    var(--font-poppins), system-ui, 'Apple Color Emoji', 'Segoe UI Emoji',
    sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  .post-content ul {
    @apply list-disc md:list-outside ml-4 pl-2 md:p-6;
  }
  .post-content ol {
    @apply list-decimal md:list-outside ml-4 pl-2 md:p-6;
  }

  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  /* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

  body {
    color: var(--foreground);
    background: var(--background);
  }
}

p {
  margin-bottom: 1rem;
}

/*=================================================================*/
/*                      BASE                              
/*=================================================================*/
body {
  color: #8f9bad;
  background-color: #fff;
  font-size: 15px;
  line-height: 1.7;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.relative {
  position: relative;
}

.text-black {
  color: #203656;
  transition: all 0.3s ease-in-out;
}

.text-black:hover {
  color: #045d51;
}

/*=================================================================*/
/*                      Preloader                              
/*=================================================================*/
#preloader {
  background: #fff;
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1031;
}

.book {
  --color: #045d51;
  --duration: 6.8s;
  width: 32px;
  height: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.book .inner {
  width: 32px;
  height: 12px;
  position: relative;
  transform-origin: 2px 2px;
  transform: rotateZ(-90deg);
  animation: book var(--duration) ease infinite;
}

.book .inner .left,
.book .inner .right {
  width: 60px;
  height: 4px;
  top: 0;
  border-radius: 2px;
  background: var(--color);
  position: absolute;
}

.book .inner .left:before,
.book .inner .right:before {
  content: '';
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: inherit;
  position: absolute;
  top: -10px;
  left: 6px;
}

.book .inner .left {
  right: 28px;
  transform-origin: 58px 2px;
  transform: rotateZ(90deg);
  animation: left var(--duration) ease infinite;
}

.book .inner .right {
  left: 28px;
  transform-origin: 2px 2px;
  transform: rotateZ(-90deg);
  animation: right var(--duration) ease infinite;
}

.book .inner .middle {
  width: 32px;
  height: 12px;
  border: 4px solid var(--color);
  border-top: 0;
  border-radius: 0 0 9px 9px;
  transform: translateY(2px);
}

.book ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 50%;
  top: 0;
}

.book ul li {
  height: 4px;
  border-radius: 2px;
  transform-origin: 100% 2px;
  width: 48px;
  right: 0;
  top: -10px;
  position: absolute;
  background: var(--color);
  transform: rotateZ(0deg) translateX(-18px);
  animation-duration: var(--duration);
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.book ul li:nth-child(0) {
  animation-name: page-0;
}

.book ul li:nth-child(1) {
  animation-name: page-1;
}

.book ul li:nth-child(2) {
  animation-name: page-2;
}

.book ul li:nth-child(3) {
  animation-name: page-3;
}

.book ul li:nth-child(4) {
  animation-name: page-4;
}

.book ul li:nth-child(5) {
  animation-name: page-5;
}

.book ul li:nth-child(6) {
  animation-name: page-6;
}

.book ul li:nth-child(7) {
  animation-name: page-7;
}

.book ul li:nth-child(8) {
  animation-name: page-8;
}

.book ul li:nth-child(9) {
  animation-name: page-9;
}

.book ul li:nth-child(10) {
  animation-name: page-10;
}

.book ul li:nth-child(11) {
  animation-name: page-11;
}

.book ul li:nth-child(12) {
  animation-name: page-12;
}

.book ul li:nth-child(13) {
  animation-name: page-13;
}

.book ul li:nth-child(14) {
  animation-name: page-14;
}

.book ul li:nth-child(15) {
  animation-name: page-15;
}

.book ul li:nth-child(16) {
  animation-name: page-16;
}

.book ul li:nth-child(17) {
  animation-name: page-17;
}

.book ul li:nth-child(18) {
  animation-name: page-18;
}

@keyframes page-0 {
  4% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  13%,
  54% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  63% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-1 {
  5.86% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  14.74%,
  55.86% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  64.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-2 {
  7.72% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  16.48%,
  57.72% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  66.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-3 {
  9.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  18.22%,
  59.58% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  68.22% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-4 {
  11.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  19.96%,
  61.44% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  69.96% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-5 {
  13.3% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  21.7%,
  63.3% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  71.7% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-6 {
  15.16% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  23.44%,
  65.16% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  73.44% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-7 {
  17.02% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  25.18%,
  67.02% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  75.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-8 {
  18.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  26.92%,
  68.88% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  76.92% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-9 {
  20.74% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  28.66%,
  70.74% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  78.66% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-10 {
  22.6% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  30.4%,
  72.6% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  80.4% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-11 {
  24.46% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  32.14%,
  74.46% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  82.14% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-12 {
  26.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  33.88%,
  76.32% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  83.88% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-13 {
  28.18% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  35.62%,
  78.18% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  85.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-14 {
  30.04% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  37.36%,
  80.04% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  87.36% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-15 {
  31.9% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  39.1%,
  81.9% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  89.1% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-16 {
  33.76% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  40.84%,
  83.76% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  90.84% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-17 {
  35.62% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  42.58%,
  85.62% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  92.58% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-18 {
  37.48% {
    transform: rotateZ(0deg) translateX(-18px);
  }

  44.32%,
  87.48% {
    transform: rotateZ(180deg) translateX(-18px);
  }

  94.32% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes left {
  4% {
    transform: rotateZ(90deg);
  }

  10%,
  40% {
    transform: rotateZ(0deg);
  }

  46%,
  54% {
    transform: rotateZ(90deg);
  }

  60%,
  90% {
    transform: rotateZ(0deg);
  }

  96% {
    transform: rotateZ(90deg);
  }
}

@keyframes right {
  4% {
    transform: rotateZ(-90deg);
  }

  10%,
  40% {
    transform: rotateZ(0deg);
  }

  46%,
  54% {
    transform: rotateZ(-90deg);
  }

  60%,
  90% {
    transform: rotateZ(0deg);
  }

  96% {
    transform: rotateZ(-90deg);
  }
}

@keyframes book {
  4% {
    transform: rotateZ(-90deg);
  }

  10%,
  40% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }

  40.01%,
  59.99% {
    transform-origin: 30px 2px;
  }

  46%,
  54% {
    transform: rotateZ(90deg);
  }

  60%,
  90% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }

  96% {
    transform: rotateZ(-90deg);
  }
}

/*=================================================================*/
/*                      TYPOGRAPHY                              
/*=================================================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #282828;
  font-weight: 700;
  line-height: 1.4;
  margin: 20px 0;
}

.post-content a {
  color: #045d51;
  outline: 0;
  text-decoration: underline;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.post-content a:hover {
  color: #203656;
  text-decoration: none;
}

.post-content a:focus {
  outline: 0;
}

.blockquote {
  font-size: 18px;
}

blockquote {
  padding: 20px 20px;
  margin: 0 0 20px;
  background: #fff8fa;
  border-left: solid 3px #045d51;
  border-radius: 5px;
}

blockquote p {
  line-height: 1.6;
}

.blockquote-footer {
  margin-top: 0;
}

.table {
  color: #707a88;
}


/*=================================================================*/
/*                      SECTIONS                              
/*=================================================================*/

section {
  position: relative;
}

/*=================================================================*/
/*                      POST                              
/*=================================================================*/
.post .category-badge {
  color: #fff;
  font-size: 13px;
  border-radius: 25px;
  display: inline-block;
  padding: 6px 11px;
  line-height: 1;
  left: 20px;
  top: 20px;
  z-index: 1;
  background: #045d51;
  background: -webkit-linear-gradient(
    left,
    #045d51 0%,
    #196359 51%,
    #045d51 100%
  );
  background: linear-gradient(to right, #045d51 0%, #196359 51%, #045d51 100%);
  background-size: 200% auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.post .category-badge.lg {
  font-size: 14px;
  padding: 8px 20px;
}

.post .category-badge:hover {
  background-position: right center;
}

.post .post-format {
  color: #fff;
  display: block;
  border-radius: 50%;
  font-size: 20px;
  height: 50px;
  line-height: 54px;
  right: 20px;
  text-align: center;
  bottom: -25px;
  position: absolute;
  width: 50px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  background: #045d51;
  background: -webkit-linear-gradient(bottom, #045d51 0%, #196359 100%);
  background: linear-gradient(to top, #045d51 0%, #196359 100%);
  z-index: 1;
}

.post .post-format-sm {
  color: #fff;
  display: block;
  border-radius: 50%;
  font-size: 14px;
  height: 30px;
  line-height: 34px;
  left: 20px;
  text-align: center;
  top: 20px;
  position: absolute;
  width: 30px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  background: #045d51;
  background: -webkit-linear-gradient(bottom, #045d51 0%, #196359 100%);
  background: linear-gradient(to top, #045d51 0%, #196359 100%);
  z-index: 1;
}

.post .thumb {
  position: relative;
}

.post .thumb.rounded .inner {
  border-radius: 10px;
  overflow: hidden;
}

.post .thumb.circle .inner {
  overflow: hidden;
  border-radius: 50%;
}

.post .thumb.top-rounded .inner {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.post .thumb img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  max-height: 155px;
  -o-object-fit: cover;
  object-fit: fill;
  height: auto;
  width: 100%;
}

.post .thumb:hover img {
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
  transform: scale(1.07);
}

.post .post-title a {
  color: #142135;
  transition: all 0.3s ease-in-out;
}

.post .post-title a:hover {
  color: #045d51;
  text-decoration: underline;
}

.post .excerpt {
  font-size: 16px;
}

.post .meta {
  font-size: 14px;
  color: #9faabb;
}

.post .meta a {
  color: #9faabb;
  font-weight: 500;
  border: 1px solid #9faabb;
  border-radius: 50px;
  padding: 5px 10px;
}

.post .meta a:hover {
  color: #045d51;
  border-color: #045d51;
}

.post .meta i {
  vertical-align: middle;
}

.post .meta li:last-child:after {
  content: '';
  display: none;
}

.post .meta li:after {
  content: '';
  display: inline-block;
  background-color: #045d51;
  border-radius: 50%;
  margin-left: 1rem;
  height: 3px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  width: 3px;
}

.post .meta li:not(:last-child) {
  margin-right: 0.8rem;
}

.post .meta li img.author {
  margin-right: 12px;
  vertical-align: middle;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 5px 1px #00000021;
}


.post.post-list-sm {
  clear: both;
}

.post.post-list-sm.circle .thumb {
  max-width: 60px;
}

.post.post-list-sm.circle .details {
  margin-left: 80px;
}

.post.post-list-sm.square .thumb {
  max-width: 110px;
}

.post.post-list-sm.square .details {
  margin-left: 130px;
}

.post.post-list-sm .thumb {
  float: left;
  position: relative;
}

.post.post-list-sm .thumb .number {
  color: #fff;
  display: block;
  border: solid 2px #fff;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  height: 24px;
  line-height: 22px;
  left: 0;
  text-align: center;
  top: -10px;
  position: absolute;
  width: 24px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  background: #045d51;
  background: -webkit-linear-gradient(bottom, #045d51 0%, #196359 100%);
  background: linear-gradient(to top, #045d51 0%, #196359 100%);
  z-index: 1;
}

.post.post-list-sm .post-title {
  font-size: 15px;
}

.post.post-list-sm:after {
  content: '';
  display: block;
  height: 1px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  background: #ebebeb;
  background: -webkit-linear-gradient(right, #ebebeb 0%, transparent 100%);
  background: linear-gradient(to left, #ebebeb 0%, transparent 100%);
}

.post.post-list-sm.before-seperator:before {
  content: '';
  display: block;
  height: 1px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  background: #ebebeb;
  background: -webkit-linear-gradient(right, #ebebeb 0%, transparent 100%);
  background: linear-gradient(to left, #ebebeb 0%, transparent 100%);
}

.post.post-list-sm.before-seperator:after {
  content: '';
  display: none;
}

.post.post-list-sm:last-child:after {
  content: '';
  display: none;
}

.post.post-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #a0aabb;
}

.post.post-list:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.post.post-list .thumb {
  float: left;
  margin: 0;
  max-width: 250px;
  width: 250px;
}

.post.post-list .details {
  margin-left: 270px;
}

.post.post-list .post-title {
  margin: 9px 0;
  min-height: 100px;
}


.post.post-grid .thumb .inner {
  margin-top: -1px;
  margin-left: -1px;
  margin-right: -1px;
  border-bottom: 1px solid #ebebeb;
}

.post.post-grid .details {
  padding: 30px;
}

.post-single .post-header {
  margin-bottom: 30px;
}

.post-single .post-header .title {
  font-size: 36px;
}

.post-single .featured-image {
  margin-bottom: 30px;
}

.post-single .featured-image img {
  border-radius: 10px;
}

.post-single .post-content {
  color: rgba(0, 0, 0, 0.8);
  font-size: 19px;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
}


/*=================================================================*/
/*                      ABOUT AUTHOR                              
/*=================================================================*/
.about-author {
  background: #f1f8ff;
}

.about-author:last-child {
  margin-bottom: 0;
}

.about-author.child {
  margin-left: 60px;
}

.about-author .thumb img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.about-author .details h4.name {
  font-size: 20px;
  margin: 0 0 10px;
}

.about-author .details h4.name a {
  color: #203656;
}

.about-author .details h4.name a:hover {
  color: #045d51;
}

.about-author .details p {
  margin-bottom: 10px;
}

.about-author .author-link {
  font-size: 16px;
  font-weight: 700;
}

.about-author .author-link i {
  font-size: 12px;
  vertical-align: middle;
  margin-left: 10px;
}

/*=================================================================*/
/*                      PAGE                              
/*=================================================================*/
.page-header {
  background: #f1f8ff;
  padding: 40px 0;
}

.page-header h1 {
  font-size: 30px;
}

.page-content {
  color: #707a88;
  font-size: 16px;
}

/*=================================================================*/
/*                      WIDGETS                              
/*=================================================================*/
.widget {
  border: solid 1px #ebebeb;
  padding: 35px 30px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .widget {
    padding: 30px 10px;
  }
}

.widget:last-child {
  margin-bottom: 0;
}

.widget.no-container {
  padding: 0;
  border: 0;
}

.widget .widget-header {
  margin-bottom: 30px;
}

.widget .widget-header img.wave {
  margin-top: 10px;
  display: inline;
}

.widget .widget-title {
  font-size: 20px;
  margin: 0;
}

.widget .widget-about {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.widget .widget-ads {
  display: block;
  text-align: center;
}

.widget ul.list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.widget ul.list li {
  line-height: 2.8rem;
}

.widget ul.list li a {
  color: #203656;
  font-weight: 700;
}

.widget ul.list li a:before {
  content: '';
  color: #045d51;
  font-family: 'simple-line-icons';
  font-size: 11px;
  vertical-align: middle;
  margin-right: 25px;
}

.widget ul.list li a:hover {
  color: #045d51;
}

.widget ul.list li:after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background: #ebebeb;
  background: -webkit-linear-gradient(left, #ebebeb 0%, transparent 100%);
  background: linear-gradient(to right, #ebebeb 0%, transparent 100%);
}

.widget ul.list li span {
  float: right;
}

.widget ul.list.social-icons li a:before {
  content: '';
  margin-right: 0;
}


/*=================================================================*/
/*                      FOOTER                              
/*=================================================================*/
footer {
  margin-top: 50px;
}


/*=================================================================*/
/*                      HELPER                              
/*=================================================================*/



.padding-30 {
  padding: 30px;
}

.newsletter-privacy {
  font-size: 13px;
  display: block;
}


::selection {
  color: #fff;
  background: #045d51;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  color: #fff;
  background: #045d51;
  /* Gecko Browsers */
}


/*=================================================================*/
/*                     BUTTONS
/*=================================================================*/
button {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button:focus {
  outline: none;
  box-shadow: none !important;
}

.btn {
  color: #fff;
  border: 0;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-default {
  color: #fff;
  padding: 9.5px 36px;
  background: #045d51;
  background: -webkit-linear-gradient(
    left,
    #045d51 0%,
    #196359 51%,
    #045d51 100%
  );
  background: linear-gradient(to right, #045d51 0%, #196359 51%, #045d51 100%);
  background-size: 200% auto;
}

.btn-default:hover {
  color: #fff;
  background-position: right center;
}


.btn-full {
  padding: 9.5px 36px;
  width: 100%;
}



/*=================================================================*/
/*                     BOOTSTRAP ELEMENTS
/*=================================================================*/
/* === Form Control === */
.form-control {
  display: block;
  border-radius: 25px;
  width: 100%;
  padding: 8px 24px;
  font-size: 14px;
  line-height: 1.6;
  color: #8f9bad;
  background-color: #fff;
  background-image: none;
  border: solid 1px #ebebeb;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  border-color: #045d51;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9faabb;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #9faabb;
}

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #9faabb;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #9faabb;
}



/*=================================================================*/
/*                      RESPONSIVE SETTINGS
/*=================================================================*/
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1140px;
  }
}

@media only screen and (max-width: 767px) {
  .post.post-list .thumb {
    float: none;
    max-width: 550px;
    width: 100%;
  }

  .post .thumb img {
    max-height: 100%;
  }

  .post.post-list .details {
    margin-left: 0;
    margin-top: 25px;
  }

  .post .meta li:after {
    content: '';
    margin-left: 0.5rem;
  }

  .post.post-list .post-title {
    min-height: auto;
  }

  .post .meta li:not(:last-child) {
    margin-right: 0.3rem;
  }

  .alignleft,
  .alignright {
    float: none;
  }

  .post-single .post-header .title {
    font-size: 26px;
  }

  .post-single .social-icons {
    margin-top: 20px;
    text-align: center;
  }

  .about-author .thumb {
    float: none;
    margin: auto;
  }

  .about-author .details {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }

}


.lead {
  color: #282828;
}

.w-40{
  width: 40%;
}

dfn {
  font-style: normal;
  border-bottom: 1px dotted #007bff;
  cursor: pointer;
}

dfn:hover {
  color: #0056b3;
}


.zoomed-image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}
.zoomed-image {
  max-width: 90vw;
  max-height: 90vh;
}